.SimpleSelect-header {
    width: 160px;
    border-radius: 5px;
    border: #BBB 1px solid;
    background-color: #EEE;
    overflow: hidden;
}

.default-text {
    color: #999;
    padding: 5px;
    float: left;
    display:inline-block;
}

.SimpleSelect-list {
    z-index: 100;
    position: absolute;
}

.SimpleSelect-selector {
    width: 126px;
    background-color: #EEE;
    padding: 5px;
    margin: 0px 5px;
    position: relative;
}

.SimpleSelect-selector:hover {
    background-color: #DDD;
    cursor: pointer;
}


.FontAwesomeIcon {
    float: right;
    background-color: #DDD;
    display:inline-block;
    padding: 5px;
    border-left: #BBB 1px solid;
}